.App {
  text-align: center;
  background-color: rgb(237,237,237);
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.btn.btn-light{
  margin-left: 10px;
}

#siteName{
  font-size: 24px;
  color: white;
}

#tsparticles{
  display: block;
  height: 94.4vh;
}

footer{
  background-color: transparent; 
  position:fixed; 
  margin:auto; 
  bottom: 0;
  width: 50%; 
  left:0%; 
  right:0%; 
  text-align:center;  
  border-radius: 10px;
} 
footer > div{
  padding: 10px;
}

@media screen and (max-width: 375px) {
  button.btn.btn-light{
    font-size: 13px;
    margin: 4px;
  }
  .navbar{
    height: 7vh;
  }
  footer{
    bottom: 0;
  }
  footer > div{
    font-size: 16px;
  }
}

/*@media screen and (max-width: 550px) {
  button.btn.btn-light{
    font-size: 13px;
    margin: 4px;
  }
  .navbar{
    height: 7vh;
  }
  footer{
    bottom: 0;
  }
  footer > div{
    font-size: 16px;
  }
}*/

@media screen and (max-width: 725px) {
  button.btn.btn-light{
    font-size: 13px;
    margin: 4px;
  }
  .navbar{
    height: 7vh;
  }
  footer{
    bottom: 0;
  }
  footer > div{
    font-size: 16px;
  }
}
/*
@media screen and (max-width: 900px) {
  button.btn.btn-light{
    font-size: 13px;
    margin: 4px;
  }
  .navbar{
    height: 7vh;
  }
  footer{
    bottom: 0;
  }
  footer > div{
    font-size: 16px;
  }
}

@media screen and (max-width: 1050px) {
  button.btn.btn-light{
    font-size: 20px;
    margin: 15px;
  }
  .navbar{
    height: 10vh;
  }
  footer{
    position: fixed;
    bottom: 0;
  }
  footer > div{
    font-size: 36px;
  }
}
*/
@media screen and (max-width: 2000px) {
  footer{
    background-color: transparent; 
    position:fixed; 
    margin:auto; 
    bottom: 0;
    width: 50%; 
    left:0%; 
    right:0%; 
    text-align:center;  
    border-radius: 10px;
    font-size: 24px;
  }
  footer > div{
    padding: 10px;
  }
}